<div id="actions">

    {% if workload.upload_pgns != "FALSE" or type == "TUNE" %}
        <div class="anchor-container action-row-secondary">
            {% if workload.upload_pgns != "FALSE" %}
                <a class="anchorbutton btn-blue" href="/api/pgns/{{workload.id}}/">Download PGN</a>
            {% endif %}
            {% if type == "TUNE" %}
                <a class="anchorbutton btn-blue" onclick="copy_spsa_inputs({{workload.id}})">SPSA Inputs</a>
                <a class="anchorbutton btn-blue" onclick="copy_spsa_outputs({{workload.id}})">SPSA Outputs</a>
            {% endif %}
        </div>
    {% endif %}

    <form method="POST" action="/{{type|lower}}/{{workload.id}}/MODIFY/">
        {% csrf_token %}
        <div class="form">
            <div class="col-full">
                <div class="row">
                    <label for="priority">Priority</label>
                    <input value="{{workload.priority}}" id="priority" name="priority">
                </div>

                <div class="row">
                    <label for="throughput">Throughput</label>
                    <input value="{{workload.throughput}}" id="throughput" name="throughput">
                </div>

                {% if type == "TEST" or type == "DATAGEN" %}
                    <div class="row">
                        <label for="workload_size">Workload Size</label>
                        <input value="{{workload.workload_size}}" id="workload_size" name="workload_size">
                    </div>
                {% endif %}

                {% if profile.approver or profile.user.username == workload.author %}
                    <input class="anchorbutton btn-blue w-100" type="submit" name="submit" value="Modify">
                {% else %}
                    <input class="anchorbutton btn-disabled w-100" type="submit" name="submit" value="Modify">
                {% endif %}
            </div>
        </div>
    </form>

</div>
